<!DOCTYPE html>
<html id="html">
    <script src="/javascript/cookies.js"></script>
    <script src="/javascript/headerDarkInitializer.js"></script>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>WorkCells</title>

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/icons/favicon_io/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/icons/favicon_io/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/icons/favicon_io/favicon-16x16.png"
        />
        <link rel="manifest" href="/icons/favicon_io/site.webmanifest" />

        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body
        class="noMargin bgBase max-w-screen-xl max-h-screen overflow-hidden"
    >
        <div class="noMargin w-screen h-screen max-h-screen flex flex-row">
            <% if (passwdFlag === 1) {  %>
            <%- include('_navbar') %>
            <% } %>

            <!-- Div donde estará el contenido principal -->
            <div class="flex flex-col w-full h-screen max-h-screen overflow-auto noMargin">
                <%- include('_title') %>
                
                <!-- Div donde va el contenido de la página en si -->
                <div class="block min-w-full h-screen <%= title !== '' ? 'max-h-[calc(100vh-60px)]' : 'max-h-screen' %> overflow-auto noMargin">
                    <%- include('_toggleDark.ejs') %>
                    <%- include('_status.ejs') %>

                    <!-- !CUIDADO AL USAR PRETTIER EN ESTE ARCHIVO -->