<script>addBackButton('/employee/<%= employee.userID %>');</script>
<script src="/javascript/employeeValidator.js"></script>
<div class="primaryContainer bgContainer1">
    
    <div class="titleContainer">
        <h2 class="title text-center flex-1">Update employee</h2>
    </div>

    <form
        id="form"
        action="/employee/<%= employee.userID %>"
        method="POST"
    >
    <input
            type="hidden"
            name="_csrf"
            value="<%= csrfToken %>"
        />
        <div class="grid grid-cols-1 sm:grid-cols-2">
            <div>
                <label for="birthName" class="label"
                    >Name:</label
                >
                <input
                    type="text"
                    id="birthName"
                    name="birthName"
                    value="<%= employee.birthName %>"
                    class="input !w-[98%]"
                    required
                />
            </div>

            <div>
                <label for="surname" class="label"
                    >Surname:</label
                >
                <input
                    type="text"
                    id="surname"
                    name="surname"
                    value="<%= employee.surname %>"
                    class="input !w-[98%]"
                    required
                />
            </div>

            <div>
                <label for="mail" class="label"
                    >Email:</label
                >
                <input
                    type="email"
                    id="mail"
                    name="mail"
                    value="<%= employee.mail %>"
                    class="input !w-[98%]"
                    required
                />
                <div
                    id="mailFormatError"
                    class="hidden textDanger text-sm mb-2"
                ></div>
            </div>

            <div>
                <label for="phoneNumber" class="label">
                    Phone Number:</label>
                <input
                    type="tel"
                    id="phoneNumber"
                    name="phoneNumber"
                    value="<%= employee.phoneNumber %>"
                    class="input !w-[98%]"
                    required
                />
                <div
                    id="phoneNumberError"
                    class="hidden textDanger text-sm mb-2"
                ></div>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2">
            <div>
                <label class="label"
                    >Zip Code:</label
                >
                <input
                    type="text"
                    id="zipCode"
                    name="zipCode"
                    value="<%= employee.zipCode %>"
                    class="input !w-[98%]"
                    required
                />
            </div>

            <div>
                <label class="label"
                    >House Number:</label
                >
                <input
                    type="text"
                    id="houseNumber"
                    name="houseNumber"
                    value="<%= employee.houseNumber %>"
                    class="input !w-[98%]"
                    required
                />
            </div>

            <div>
                <label class="label"
                    >Street Name:</label
                >
                <input
                    type="text"
                    id="streetName"
                    name="streetName"
                    value="<%= employee.streetName %>"
                    class="input !w-[98%]"
                    required
                />
            </div>

            <div>
                <label class="label"
                    >Colony:</label
                >
                <input
                    type="text"
                    id="colony"
                    name="colony"
                    value="<%= employee.colony %>"
                    class="input !w-[98%]"
                    required
                />
            </div>

            <div>
                <label class="label">Country:</label>
                <select 
                name="countryUserIDFK" 
                id="countryUserIDFK"
                class="input !w-[98%]"
                required
                >
                    <% countries.forEach(c => { %>
                        <option 
                        value='<%= c.countryID %>' 
                        <%= c.countryID == employee.countryUserIDFK ? 'selected' : '' %>>
                        <%= c.title %>
                        </option>
                    <% }) %>
                    </select>
            </div>

            <div>
                <label class="label">Prioritary Department:</label>
                <select 
                name="prioritaryDepartmentIDFK" 
                id="prioritaryDepartmentIDFK"
                class="input !w-[98%]"
                required
                >
                    <% departments.forEach(d => { %>
                        <option 
                        value="<%= d.departmentID %>" 
                        <%= d.departmentID == employee.prioritaryDepartmentIDFK ? "selected" : "" %>>
                        <%= d.departmentTitle %> – <%= d.enterpriseTitle %>
                        </option>
                    <% }) %>
                    </select>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2">
            <div>
                <label class="label">Work Modality:</label>
                <select
                    id="workModality"
                    name="workModality"
                    class="input !w-[98%]"
                    required
                >
                    <option value="">Select Modality</option>
                    <option value="0" <%= employee.workModality == 0 ? 'selected' : '' %>>On Site</option>
                    <option value="1" <%= employee.workModality == 1 ? 'selected' : '' %>>Remote</option>
                    <option value="2" <%= employee.workModality == 2 ? 'selected' : '' %>>Hybrid</option>
                </select>
            </div>

            <div>
                <label class="label">User Role:</label>
                <select 
                name="userRoleIDFK" 
                id="userRoleIDFK"
                class="input !w-[98%]"
                required>
                    <% roles.forEach(r => { %>
                        <option 
                        value="<%= r.roleID %>" 
                        <%= r.roleID == employee.userRoleIDFK ? "selected" : "" %>>
                        <%= r.title %>
                        </option>
                    <% }) %>
                    </select>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2">
            <div>
                <label for="curp" class="label"
                    >CURP:</label
                >
                <input
                    type="text"
                    id="curp"
                    name="curp"
                    value="<%= employee.curp%>"
                    class="input !w-[98%]"
                    maxlength="18"
                />
                <div
                    id="curpFormatError"
                    class="hidden textDanger text-sm mb-2"
                ></div>
            </div>

            <div>
                <label for="rfc" class="label">RFC:</label>
                <input
                    type="text"
                    id="rfc"
                    name="rfc"
                    value="<%= employee.rfc%>"
                    class="input !w-[98%]"
                    maxlength="13"
                />
                <div
                    id="rfcFormatError"
                    class="hidden textDanger text-sm mb-2"
                ></div>
            </div>

            <div>
                <label class="label">Work Status:</label>
                <select
                    id="workStatus"
                    name="workStatus"
                    class="input !w-[98%]"
                    required
                >
                    <option value="">Select Work Status</option>
                    <option value="1" <%= employee.workStatus == 1 ? "selected" : "" %>>Active</option>
                    <option value="0" <%= employee.workStatus == 0 ? "selected" : "" %>>Idle</option>
                </select>
            </div>
        </div>

        <div class="endButtonsContainer">
            <button type="submit" class="btnPrimary">
                Update employee
            </button>
        </div>
    </form>
</div>
