<script src="/javascript/employeeValidator.js"></script>
<div class="primaryContainer bgContainer1">
    <h1 class="text-3xl font-semibold mb-4">Modify Employee</h1>

    <form
        id="form"
        action="/employee/<%= employee.userID %>"
        method="POST"
    >
    <input
            type="hidden"
            name="_csrf"
            value="<%= csrfToken %>"
        />
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
            <div class="field">
                <label for="curp" class="block text-lg font-medium"
                    >CURP</label
                >
                <input
                    type="text"
                    id="curp"
                    name="curp"
                    value="<%= employee.curp%>"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full uppercase"
                    maxlength="18"
                />
                <div
                    id="curpFormatError"
                    class="text-red-600 text-sm mt-2"
                ></div>
            </div>

            <div class="field">
                <label for="rfc" class="block text-lg font-medium">RFC</label>
                <input
                    type="text"
                    id="rfc"
                    name="rfc"
                    value="<%= employee.rfc%>"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full uppercase"
                    maxlength="13"
                />
                <div
                    id="rfcFormatError"
                    class="text-red-600 text-sm mt-2"
                ></div>
            </div>

            <div class="field">
                <label for="birthName" class="block text-lg font-medium"
                    >Name</label
                >
                <input
                    type="text"
                    id="birthName"
                    name="birthName"
                    value="<%= employee.birthName %>"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                    required
                />
            </div>

            <div class="field">
                <label for="surname" class="block text-lg font-medium"
                    >Surname</label
                >
                <input
                    type="text"
                    id="surname"
                    name="surname"
                    value="<%= employee.surname %>"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                    required
                />
            </div>

            <div class="field">
                <label for="mail" class="block text-lg font-medium"
                    >Email</label
                >
                <input
                    type="email"
                    id="mail"
                    name="mail"
                    value="<%= employee.mail %>"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                    required
                />
                <div
                    id="mailFormatError"
                    class="text-red-600 text-sm mt-2"
                ></div>
            </div>

            <div class="field">
                <label for="phoneNumber" class="block text-lg font-medium">
                    Phone Number
                </label>
                <input
                    type="tel"
                    id="phoneNumber"
                    name="phoneNumber"
                    value="<%= employee.phoneNumber %>"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                    required
                />
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
            <div class="field">
                <label class="block text-lg font-medium"
                    >Zip Code</label
                >
                <input
                    type="text"
                    id="zipCode"
                    name="zipCode"
                    value="<%= employee.zipCode %>"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                    required
                />
            </div>

            <div class="field">
                <label class="block text-lg font-medium"
                    >House Number</label
                >
                <input
                    type="text"
                    id="houseNumber"
                    name="houseNumber"
                    value="<%= employee.houseNumber %>"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                    required
                />
            </div>

            <div class="field">
                <label class="block text-lg font-medium"
                    >Street Name</label
                >
                <input
                    type="text"
                    id="streetName"
                    name="streetName"
                    value="<%= employee.streetName %>"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                    required
                />
            </div>

            <div class="field">
                <label class="block text-lg font-medium"
                    >Colony</label
                >
                <input
                    type="text"
                    id="colony"
                    name="colony"
                    value="<%= employee.colony %>"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                    required
                />
            </div>

            <div class="field">
                <label class="block text-lg font-medium">Country</label>
                <select 
                name="countryUserIDFK" 
                id="countryUserIDFK"
                class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                required
                >
                    <% countries.forEach(c => { %>
                        <option 
                        value='<%= c.countryID %>' 
                        <%= c.countryID == employee.countryUserIDFK ? 'selected' : '' %>>
                        <%= c.title %>
                        </option>
                    <% }) %>
                    </select>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
            <div class="field">
                <label class="block text-lg font-medium">Work Modality</label>
                <select
                    id="workModality"
                    name="workModality"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                    required
                >
                    <option value="">Select Modality</option>
                    <option value="0" <%= employee.workModality == 0 ? 'selected' : '' %>>On Site</option>
                    <option value="1" <%= employee.workModality == 1 ? 'selected' : '' %>>Remote</option>
                    <option value="2" <%= employee.workModality == 2 ? 'selected' : '' %>>Hybrid</option>
                </select>
            </div>

            <div class="field">
                <label class="block text-lg font-medium">User Role</label>
                <select 
                name="userRoleIDFK" 
                id="userRoleIDFK"
                class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                required>
                    <% roles.forEach(r => { %>
                        <option 
                        value="<%= r.roleID %>" 
                        <%= r.roleID == employee.userRoleIDFK ? "selected" : "" %>>
                        <%= r.title %>
                        </option>
                    <% }) %>
                    </select>
            </div>

            <div class="field">
                <label class="block text-lg font-medium">Prioritary Department</label>
                <select 
                name="prioritaryDepartmentIDFK" 
                id="prioritaryDepartmentIDFK"
                class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                required
                >
                    <% departments.forEach(d => { %>
                        <option 
                        value="<%= d.departmentID %>" 
                        <%= d.departmentID == employee.prioritaryDepartmentIDFK ? "selected" : "" %>>
                        <%= d.departmentTitle %> – <%= d.enterpriseTitle %>
                        </option>
                    <% }) %>
                    </select>
            </div>

            <div class="field">
                <label class="block text-lg font-medium">Work Status</label>
                <select
                    id="workStatus"
                    name="workStatus"
                    class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                    required
                >
                    <option value="">Select Work Status</option>
                    <option value="1" <%= employee.workStatus == 1 ? "selected" : "" %>>Active</option>
                    <option value="0" <%= employee.workStatus == 0 ? "selected" : "" %>>Idle</option>
                </select>
            </div>
        </div>

        <div class="flex justify-end">
            <button type="submit" class="btnPrimary">
                Submit
            </button>
        </div>
    </form>
</div>
