<div class="flex content justify-center">
    <div class="content p-4 mx-auto w-full md:w-5/6 lg:w-3/4 xl:w-2/3">
        <div class="card bg-neutral-700/25 shadow-md rounded-lg p-4">
            <div class="card-content">
                <h1 class="text-3xl font-semibold mb-4">Check Employee</h1>

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
                    <div class="field">
                        <label class="block text-lg font-medium">CURP</label>
                        <input
                            type="text"
                            readonly
                            value="<%= employee.curp || 'Not registered'%>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>

                    <div class="field">
                        <label class="block text-lg font-medium">RFC</label>
                        <input
                            type="text"
                            readonly
                            value="<%= employee.rfc || 'Not registered' %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>

                    <div class="field">
                        <label class="block text-lg font-medium">Name</label>
                        <input
                            type="text"
                            readonly
                            value="<%= employee.birthName %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>

                    <div class="field">
                        <label class="block text-lg font-medium">Surname</label>
                        <input
                            type="text"
                            readonly
                            value="<%= employee.surname %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>

                    <div class="field">
                        <label class="block text-lg font-medium">Email</label>
                        <input
                            type="email"
                            readonly
                            value="<%= employee.mail %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
                    <div class="field">
                        <label class="block text-lg font-medium"
                            >Zip Code</label
                        >
                        <input
                            type="text"
                            readonly
                            value="<%= employee.zipCode %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>

                    <div class="field">
                        <label class="block text-lg font-medium"
                            >House Number</label
                        >
                        <input
                            type="text"
                            readonly
                            value="<%= employee.houseNumber %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>

                    <div class="field">
                        <label class="block text-lg font-medium"
                            >Street Name</label
                        >
                        <input
                            type="text"
                            readonly
                            value="<%= employee.streetName %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>

                    <div class="field">
                        <label class="block text-lg font-medium">Colony</label>
                        <input
                            type="text"
                            readonly
                            value="<%= employee.colony %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>

                    <div class="field">
                        <label class="block text-lg font-medium">Country</label>
                        <input
                            type="text"
                            readonly
                            value="<%= country.title %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
                    <div class="field">
                        <label class="block text-lg font-medium"
                            >Work Modality</label
                        >
                        <input
                            type="text"
                            readonly
                            value="<%= employee.workModality == 0 ? 'Presencial' : employee.workModality == 1 ? 'Remote' : 'Hybrid' %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>

                    <div class="field">
                        <label class="block text-lg font-medium"
                            >User Role</label
                        >
                        <input
                            type="text"
                            readonly
                            value="<%= role.title %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>

                    <div class="field">
                        <label class="block text-lg font-medium"
                            >Prioritary Department</label
                        >
                        <input
                            type="text"
                            readonly
                            value="<%= department.departmentTitle %> - <%= department.enterpriseTitle %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>
                    <div class="field">
                        <label class="block text-lg font-medium"
                            >Work Status</label
                        >
                        <input
                            type="text"
                            readonly
                            value="<%= employee.workStatus == 1 ? 'Active' : 'Idle' %>"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                        />
                    </div>
                </div>

                <div class="flex">
                    <a href="/employee" class="btnPrimary mr-6">Return</a>
                    <a
                        href="/employee/<%= employee.userID %>/modify"
                        class="btnPrimary justify-end"
                        >Modify</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
