<div class="flex-1 p-6">
    <div class="p-6">
        <div class="bg-neutral-700/25 shadow-lg rounded-lg mb-6">
            <div class="p-6 flex justify-between items-center">
                <h2 class="text-2xl font-semibold">Faults</h2>
                <% if (faults.length === 0) { %>
                <p class="block text-green-600">
                    Number of faults: <%= faults.length %>
                </p>
                <% } else if(faults.length === 1) { %>
                <p class="block text-yellow-600">
                    Number of faults: <%= faults.length %>
                </p>
                <% } else if(faults.length === 2) { %>
                <p class="block text-orange-600">
                    Number of faults: <%= faults.length %>
                </p>
                <% } else { %>
                <p class="block text-red-600">
                    Number of faults: <%= faults.length %>
                </p>
                <% } %>
            </div>
            <div class="p-6">
                <div class="content has-text-centered box">
                    <table class="table w-full text-sm text-left">
                        <thead class="bg-neutral-700/50">
                            <tr>
                                <th class="px-4 py-2">Full name</th>
                                <th class="px-4 py-2">Reason</th>
                                <th class="px-4 py-2">Done date</th>
                                <th class="px-4 py-2">Evidence</th>
                                <th class="px-4 py-2">Delete</th>
                            </tr>
                        </thead>
                        <% if(faults.length > 0) { 
                        let i = 0;%>
                        <tbody>
                            <% faults.forEach(f => {
                            i++; %>
                            <tr class="border-b">
                                <td class="px-4 py-2">
                                    <%= f.birthName %> <%= f.surname %>
                                </td>
                                <td class="px-4 py-2"><%= f.summary %></td>
                                <td class="px-4 py-2">
                                    <%= new
                                    Date(f.doneDate).toLocaleDateString('es-MX')
                                    %>
                                </td>
                                <td class="px-4 py-2">
                                    <% if (f.mediaLink) { %>
                                        <a
                                          target="_blank"
                                          href="/uploads/<%= encodeURIComponent(f.mediaLink) %>"
                                          class="text-blue-500"
                                        >
                                          Check Evidence
                                        </a>
                                      <% } else { %>
                                        No evidence
                                      <% } %>                                      
                                </td>
                                <td>
                                    <button id="deleteIt<%= i %>" class="deleteFunc btnPrimary">Delete</button>
                                    <form id="form<%= i %>" class="hidden" id="form" action="/fault/delete" method="POST">
                                        <input
                                            type="hidden"
                                            name="_csrf"
                                            value="<%= csrfToken %>"
                                        />

                                        <input
                                            type="hidden"
                                            name="faultID"
                                            value="<%= f.faultID %>"
                                        />

                                        <input
                                            type="hidden"
                                            name="userID"
                                            value="<%= f.faultUserIDFK %>"
                                        />
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                        <% } else { %>
                        <tr>
                            <td colspan="4" class="text-center">
                                There are no faults
                            </td>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll(".deleteFunc").forEach((element) => {
        element.addEventListener("click", (e) => {
            const faultNumber = element.id.split('deleteIt')[1];
            console.log(faultNumber);
            document.getElementById(`form${faultNumber}`).submit();
        });
    })
</script>