<div class="content p-4">
    <div class="card bg-neutral-700/25 shadow-md rounded-lg p-6">
        <h1 class="text-3xl font-semibold mb-4">My Profile</h1>

        <div class="space-y-2 mb-6">
            <p class="text-lg">
                <strong>Name:</strong> <%= userData.birthName %> <%=
                userData.surname %>
            </p>
            <p class="text-lg">
                <strong>Country:</strong> <%= userData.title %>
            </p>
            <p class="text-lg">
                <strong>Zip Code:</strong> <%= userData.zipCode %>
            </p>
            <p class="text-lg">
                <strong>Adress line 1:</strong> <%= userData.colony %>
            </p>
            <p class="text-lg">
                <strong>Adress line 2:</strong> <%= userData.streetName %> #<%=
                userData.houseNumber %>
            </p>
        </div>

        <div class="flex justify-end">
            <a
                href="/employee/<%=userData.userID%>/faults"
                class="btnPrimary m-2"
                >Check Faults</a
            >
            <a href="/employee/me/changePassword" class="btnPrimary m-2">
                Change Password
            </a>
        </div>
    </div>
</div>

<!-- Contenedor para mostrar la dirección formateada -->
<p id="address" class="mt-4 text-lg font-medium text-neutral-200"></p>

<!-- Contenedor para el mapa -->
<div id="map" class="flex justify-center align-middle items-center mt-2 ml-auto mr-auto bg-neutral-500/20 h-64 max-w-[50%] rounded-lg overflow-hidden">
    <p class="font-bold text-2xl">Waiting to obtain adress...</p>
</div>

<script src="/javascript/geolocationApi.js"></script>
<script>
    // Llama a tu función que consulta la API y dibuja el mapa
    addressLoader(
        "<%= API %>",
        document.getElementById("address"),
        document.getElementById("map"),
        "<%= userData.streetName %>",
        "<%= userData.houseNumber %>",
        "<%= userData.colony %>",
        "<%= userData.zipCode %>",
        "<%= userData.title %>"
    );
</script>
