<div class="primaryContainer bgContainer1">
    <div class="content">
        <div class="card shadow-md rounded-lg">
            <h1 class="text-3xl font-semibold mb-4 text-center"><%= userData.birthName %> <%= userData.surname %></h1>
    
            <div class="space-y-2 mb-6">
                <p><span class="font-bold">E-Mail: </span><%= userData.mail %></p>
                <% if( userData.phoneNumber ) { %>
                    <p><span class="font-bold">Phone number: </span><%= userData.phoneNumber %></p>
                <% } %>
                <% if( userData.curp ) { %>
                    <p><span class="font-bold">CURP: </span><%= userData.curp %></p>
                <% } %>
                <% if( userData.rfc ) { %>
                    <p><span class="font-bold">RFC: </span><%= userData.rfc %></p>
                <% } %>
                <p><span class="font-bold">Role: </span><%= userData.role %></p>
                <p><span class="font-bold">Department: </span><%= userData.department %></p>
                <p><span class="font-bold">Enterprise: </span><%= userData.enterprise %></p>
                <p><span class="font-bold">Adress: </span><span id="address"><%= userData.streetName %> <%= userData.houseNumber %>, <%= userData.colony %>, <%= userData.zipCode %>, <%= userData.country %></span></p>
            </div>
    
            <div class="flex justify-end">
                <% if (userData.userID === userID) { %>
                <a href="/employee/me/faults" class="btnPrimary m-2"
                    >Check Faults</a
                >
                <% } else { %>
                    <a href="/employee/<%= userData.userID %>/faults" class="btnPrimary m-2"
                    >Check Faults</a
                >
                <% } %>
                
                <a href="/employee/me/changePassword" class="btnPrimary m-2">
                    Change Password
                </a>
            </div>
        </div>
    </div>

    <!-- Contenedor para el mapa -->
    <div id="map" class="flex justify-center align-middle items-center mt-2 ml-auto mr-auto bg-neutral-500/20 h-64 max-w-[50%] rounded-lg overflow-hidden">
        <p class="font-bold text-2xl">Waiting to obtain adress...</p>
    </div>
</div>

<script src="/javascript/geolocationApi.js"></script>
<script>
    // Llama a tu función que consulta la API y dibuja el mapa
    addressLoader(
        "<%= API %>",
        document.getElementById("address"),
        document.getElementById("map"),
        "<%= userData.streetName %>",
        "<%= userData.houseNumber %>",
        "<%= userData.colony %>",
        "<%= userData.zipCode %>",
        "<%= userData.country %>"
    );
</script>
