<%- include('includes/_header') %> <%- include('includes/_navbar') %>
<h2 class="title">Escribe los datos sobre tu Ausencia</h2>

<% if (info != '') { %>
<div class="notification is-info"><%= info %></div>
<% } %>

<form action="/absence/add" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

  <div class="block">
    <label class="label">Fecha de inicio de la ausencia: </label>
    <input class="input" type="date" name="startDate" required />
    <label class="label">Fecha de finalización de la ausencia: </label>
    <input class="input" type="date" name="endDate" required />
  </div>

  <div class="block">
    <label class="label">Motivo de la ausencia: </label>
    <textarea
      class="textarea"
      type="text"
      name="reason"
      required
      placeholder="Me enfermé y tuve que acudir al médico"
    >
    </textarea>
  </div>

  <div class="block">
    <label class="label">
      <input type="file" name="evidence" />
    </label>
  </div>

  <div class="block">
    <input class="button" type="submit" value="Enviar" />
  </div>
</form>

<%- include('includes/_footer') %>
