<%- include('includes/_header') %>

<div class="content p-6">
    <div class="card bg-white p-6 rounded-lg shadow-md">
        <div class="card-content">
            <h2 class="text-2xl font-semibold mb-4">Absences request</h2>
            <p class="mb-4">
                Aquí el super admin haciendo click en alguna de las casillas de
                estados le va aparecer una popup para poder responder/cambiar el
                estado de solicitud de ausencia.
            </p>

            <div class="overflow-x-auto">
                <table class="min-w-full table-auto" id="absences-table">
                    <thead>
                        <tr class="bg-gray-100">
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <abbr title="nombre">Full name</abbr>
                            </th>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <abbr title="colaborador">Role</abbr>
                            </th>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <abbr title="razon">Start date</abbr>
                            </th>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <abbr title="estado">End date</abbr>
                            </th>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <abbr title="estado">Total days</abbr>
                            </th>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <abbr title="estado">Status</abbr>
                            </th>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <abbr title="modificar"></abbr>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let ab of absences) { %>
                        <tr class="bg-gray-100">
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <%- ab.birthName + ' ' + ab.surname %>
                            </th>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <%- ab.title %>
                            </th>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <%= new
                                Date(ab.startDate).toLocaleDateString('es-MX');
                                %>
                            </th>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <%= new
                                Date(ab.endDate).toLocaleDateString('es-MX'); %>
                            </th>
                            <td
                                class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 total-days"
                                data-start-date="<%= ab.startDate %>"
                                data-end-date="<%= ab.endDate %>"
                            ></td>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <% if (ab.justified === 0) { %> Denyed <% } else
                                if (ab.justified === 1) { %> Approved <% } else
                                if (ab.justified === 2) { %>
                                <div class="px-6 py-4 flex justify-end">
                                    <button
                                        id="approve"
                                        data-url="/absence/approve/<%- ab.absenceID %>"
                                        class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 mr-2 rounded"
                                    >
                                        Approve
                                    </button>
                                    <br />
                                    <button
                                        id="deny"
                                        data-url="/absence/deny/<%- ab.absenceID %>"
                                        class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 mr-2 rounded"
                                    >
                                        Deny
                                    </button>
                                </div>
                                <% } %>
                            </th>
                            <th
                                class="px-4 py-2 text-center font-semibold text-gray-700"
                            >
                                <a
                                    href="/absence/modify"
                                    class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded"
                                >
                                    Modify
                                </a>
                            </th>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-4 flex justify-center space-x-4">
            <a
                href="/absence"
                class="button bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600"
                >Regresar</a
            >
        </div>
    </div>
</div>

<script>
    // Calcular los días para cada fila una vez que la página se ha cargado
    document.addEventListener("DOMContentLoaded", function () {
        const rows = document.querySelectorAll("#absences-table tbody tr");
        rows.forEach((row) => {
            const startDate = new Date(
                row.querySelector(".total-days").getAttribute("data-start-date")
            );
            const endDate = new Date(
                row.querySelector(".total-days").getAttribute("data-end-date")
            );
            const timeDifference = endDate - startDate;
            const totalDays = timeDifference / (1000 * 3600 * 24);

            // Asignar el total de días a la celda correspondiente
            row.querySelector(".total-days").innerText = totalDays;
        });
    });

    // Agregar event listener a todos los botones de "Approve"
    document.querySelectorAll(".approve-btn").forEach((button) => {
        button.addEventListener("click", function (event) {
            const url = this.dataset.url;
            const csrf = document.getElementById("_csrf").value;

            // Se define el body de la petición, si no se requiere información adicional se puede enviar un objeto vacío
            const data = {};

            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "csrf-token": csrf,
                },
                body: JSON.stringify(data),
            })
                .then((result) => result.json())
                .then((data) => {
                    // Actualizar el texto del botón a "Approved" o realizar otra acción según la respuesta
                    this.innerText = "Approved";
                })
                .catch((err) => {
                    console.log(err);
                });
        });
    });

    // Agregar event listener a todos los botones de "Deny"
    document.querySelectorAll(".deny-btn").forEach((button) => {
        button.addEventListener("click", function (event) {
            const url = this.dataset.url;
            const csrf = document.getElementById("_csrf").value;
            const data = {};

            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "csrf-token": csrf,
                },
                body: JSON.stringify(data),
            })
                .then((result) => result.json())
                .then((data) => {
                    this.innerText = "Denyed";
                })
                .catch((err) => {
                    console.log(err);
                });
        });
    });
</script>

<%- include('includes/_footer') %>
