<%- include('includes/_header') %> 
<%- include('includes/_navbar') %>
<div class="content">
  <div class="card">
    <div class="card-content">
      <h2>Ausencias</h2>

      <% if (info != '') { %>
        <div class="notification is-info">
            <%= info %>
        </div>
      <% } %>

      <table id="absences-table">
        <thead>
          <tr>
            <th>Reason</th>
            <th>Fecha de inicio</th>
            <th>Fecha final</th>
            <th>Total de días</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% for(let ab of absences) { %>
            <tr>
              <td><%= ab.reason %></td>
              <td><%= new Date(ab.startDate).toLocaleDateString('es-MX') %></td>
              <td><%= new Date(ab.endDate).toLocaleDateString('es-MX') %></td>
              <td class="total-days" data-start-date="<%= ab.startDate %>" data-end-date="<%= ab.endDate %>"></td>
              <td><%= ab.justified %></td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
    <div class="is-flex is-justify-content-center">
      <a class="button mr-2" href="/absence/aprove">request</a>
      <a class="button" href="/absence/add">add</a>
    </div>
    <%- include('includes/_footer') %>
  </div>
</div>

<script>
  // Calcular los días para cada fila una vez que la página se ha cargado
  document.addEventListener("DOMContentLoaded", function() {
    const rows = document.querySelectorAll("#absences-table tbody tr");
    rows.forEach(row => {
      const startDate = new Date(row.querySelector(".total-days").getAttribute("data-start-date"));
      const endDate = new Date(row.querySelector(".total-days").getAttribute("data-end-date"));
      const timeDifference = endDate - startDate;
      const totalDays = timeDifference / (1000 * 3600 * 24);
      
      // Asignar el total de días a la celda correspondiente
      row.querySelector(".total-days").innerText = totalDays;
    });
  });
</script>
