<%- include('includes/_header') %> <%- include('includes/_navbar') %>

<body>
  <div class="container">
    <!-- Mostrar mensaje si existe -->
    <% if (info) { %>
    <div class="notification is-success"><%= info %></div>
    <% } %>

    <h1>Últimas 10 Faltas</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Fecha de la Falta</th>
          <th>Número de Faltas</th>
        </tr>
      </thead>
      <tbody>
        <% fault.forEach(falta => { %>
        <tr>
          <td><%= falta.nombre %></td>
          <td><%= falta.correo %></td>
          <td>
            <%= new Date(falta.fecha_falta).toLocaleDateString('es-MX') %>
          </td>
          <td><%= falta.num_faltas %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <div class="back-link">
      <a href="/fault/add">Registrar Nueva Falta</a>
    </div>
  </div>
</body>

<%- include('includes/_footer') %>
