<script>addBackButton(document.referrer);</script>
<script src="/javascript/holidayDate.js"></script>
<div class="primaryContainer bgContainer1">

    <div class="titleContainer">
        <h2 class="title text-center flex-1">Add used holiday</h2>
    </div>

    <form action="/holiday/add" method="POST">
        <input
            type="hidden"
            name="_csrf"
            value="<%= csrfToken %>"
        />

        <div>
            <div class="field w-full">
                <label
                    for="usedTemplateHolidayIDFK"
                    class="label"
                >
                    Holiday Name:
                </label>
                <select
                    id="usedTemplateHolidayIDFK"
                    name="usedTemplateHolidayIDFK"
                    class="input"
                    required
                >
                    <option value="" selected disabled>
                        Select Holiday
                    </option>
                    <% holidays.forEach((holiday) => {
                        const date = new Date(holiday.holidayDate);
                        const formattedDate = date.toLocaleDateString('en-US', {
                            weekday: 'long',
                            day: '2-digit',
                            month: 'long'
                        });
                        const today = new Date();
                        const year = today.getFullYear();
                        const currentYearDate = new Date(year, date.getMonth(), date.getDate());
                        const isoDate = currentYearDate.toISOString().split('T')[0]; %>
                        <option
                            value="<%= holiday.templateHolidayID %>"
                            data-date="<%= isoDate %>"
                        >
                            <%= holiday.title %>
                        </option>
                    <% }); %>
                </select>
            </div>

            <div class="field">
                <label
                    for="usedDate"
                    class="label"
                >
                    Celebration Date:
                </label>
                <input
                    type="date"
                    id="usedDate"
                    name="usedDate"
                    class="input"
                    required
                    min="<%= new Date().toISOString().split('T')[0] %>"
                />
            </div>
        </div>

        <div class="endButtonsContainer">
            <button type="submit" class="btnPrimary">Add used holiday</button>
        </div>
    </form>
</div>
