<script>addBackButton(document.referrer);</script>
<div class="primaryContainer bgContainer1">
    
    <div class="titleContainer">
        <h2 class="title text-center flex-1">Update used holiday</h2>
    </div>

    <form
        action="/holiday/check/<%=holiday.usedHolidayID %>"
        method="POST"
    >
        <input
            type="hidden"
            name="_csrf"
            value="<%= csrfToken %>"
        />

        <div>
            <div>
                <label
                    for="usedTemplateHolidayIDFK"
                    class="label"
                >
                    Holiday Name:
                </label>
                <input
                    type="text"
                    readonly
                    value="<%= holiday.title%>"
                    class="input"
                    disabled
                />
            </div>

            <div>
                <label
                    for="usedDate"
                    class="label"
                >
                    Celebration Date:
                </label>
                <input
                    type="date"
                    id="usedDate"
                    name="usedDate"
                    class="input"
                    required
                    min="<%= new Date().getFullYear() %>-01-01"
                    max="<%= new Date().getFullYear() %>-12-31"
                    value="<%= holiday.usedDate.toISOString().split('T')[0] %>"
                />
            </div>
        </div>

        <div class="endButtonsContainer">
            <button type="submit" class="btnPrimary">Update used holiday</button>
        </div>
    </form>
</div>
