<div class="p-6">
    <div class="card bg-neutral-700/25 shadow-md rounded-lg">
        <div class="p-6">
            <h2 class="text-2xl font-semibold mb-4">
                Solicitudes de Vacaciones
            </h2>
        </div>
        <div class="p-6">
            <div
                class="overflow-x-auto bg-neutral-700/50 p-4 rounded-lg shadow"
            >
                <table class="min-w-full table-auto">
                    <thead class="bg-neutral-800">
                        <tr>
                            <th class="px-4 py-2 text-left">ID</th>
                            <th class="px-4 py-2 text-left">Motivo</th>
                            <th class="px-4 py-2 text-left">Fecha Inicio</th>
                            <th class="px-4 py-2 text-left">Fecha Fin</th>
                            <th class="px-4 py-2 text-left">Justificado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Iterar sobre las solicitudes de vacaciones -->
                        <% absences.forEach(absence => { %>
                        <tr class="border-b hover:bg-neutral-800">
                            <td class="px-4 py-2"><%= absence.absenceID %></td>
                            <td class="px-4 py-2"><%= absence.reason %></td>
                            <td class="px-4 py-2">
                                <%= new
                                Date(absence.startDate).toLocaleDateString('es-MX')
                                %>
                            </td>
                            <td class="px-4 py-2">
                                <%= new
                                Date(absence.endDate).toLocaleDateString('es-MX')
                                %>
                            </td>
                            <td class="px-4 py-2">
                                <div
                                    class="flex flex-col sm:flex-row sm:items-center sm:gap-4"
                                >
                                    <a
                                        href="/approve/<%= absence.id %>"
                                        class="btnPrimary"
                                    >
                                        Aprobar
                                    </a>
                                    <a
                                        href="/reject/<%= absence.id %>"
                                        class="btnPrimary"
                                    >
                                        Rechazar
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a
        href="/absence"
        class="btnPrimary"
        >Regresar</a
    >
</div>
