<div class="container mx-auto p-4">
    <div class="bg-neutral-800 shadow rounded-lg overflow-hidden">
        <div class="px-6 py-4 flex justify-end">
            <a
                href="/home"
                class="bg-violet-500 hover:bg-violet-600 text-white font-semibold py-2 px-4 mr-2 rounded"
                >Home</a
            >
            <a
                href="/absence/requests"
                class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 mr-2 rounded"
                >Request</a
            >
            <a
                href="/absence/add"
                class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 mr-2 rounded"
                >Add</a
            >
        </div>
        
        <div class="p-6">
            <h2 class="text-2xl font-bold mb-4">Ausencias</h2>
            <% if (info != '') { %>
                <div class="bg-green-100 text-green-800 p-4 rounded-lg mb-4">
                    <%= info %>
                </div>
                <% } %>
                
            <table
                class="min-w-full divide-y divide-emerald-200"
                id="absences-table"
            >
                <thead class="bg-neutral-800/50">
                    <tr>
                        <th
                            class="px-6 py-3 text-left text-xs font-medium  uppercase tracking-wider"
                        >
                            Reason
                        </th>
                        <th
                            class="px-6 py-3 text-left text-xs font-medium  uppercase tracking-wider"
                        >
                            Fecha de inicio
                        </th>
                        <th
                            class="px-6 py-3 text-left text-xs font-medium  uppercase tracking-wider"
                        >
                            Fecha final
                        </th>
                        <th
                            class="px-6 py-3 text-left text-xs font-medium  uppercase tracking-wider"
                        >
                            Total de días
                        </th>
                        <th
                            class="px-6 py-3 text-left text-xs font-medium  uppercase tracking-wider"
                        >
                            Status
                        </th>
                        <th
                            class="px-6 py-3 text-left text-xs font-medium  uppercase tracking-wider"
                        >
                            Evidence
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-neutral-800 divide-y divide-emerald-200">
                    <% for(let ab of absences) { %>
                    <tr>
                        <td
                            class="px-6 py-4 whitespace-nowrap text-sm "
                        >
                            <%= ab.reason %>
                        </td>
                        <td
                            class="px-6 py-4 whitespace-nowrap text-sm "
                        >
                            <%= new
                            Date(ab.startDate).toLocaleDateString('es-MX') %>
                        </td>
                        <td
                            class="px-6 py-4 whitespace-nowrap text-sm "
                        >
                            <%= new Date(ab.endDate).toLocaleDateString('es-MX')
                            %>
                        </td>
                        <td
                            class="px-6 py-4 whitespace-nowrap text-sm  total-days"
                            data-start-date="<%= ab.startDate %>"
                            data-end-date="<%= ab.endDate %>"
                        ></td>
                        <td
                            class="px-6 py-4 whitespace-nowrap text-sm "
                        >
                            <% if (ab.justified === 0) { %> Denyed <% } else if
                            (ab.justified === 1) { %> Approved <% } else if
                            (ab.justified === 2) { %> On wating <% } %>
                        </td>
                        <td
                            class="px-6 py-4 whitespace-nowrap text-sm "
                        >
                            <% if (ab.mediaLink) { %>
                            <a
                                href="/uploads/<%= ab.mediaLink %>"
                                target="_blank"
                                class="text-blue-600 hover:underline"
                                >Ver evidencia</a
                            >
                            <% } else { %> Sin evidencia <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // Calcular los días para cada fila una vez que la página se ha cargado
    document.addEventListener("DOMContentLoaded", function () {
        const rows = document.querySelectorAll("#absences-table tbody tr");
        rows.forEach((row) => {
            const startDate = new Date(
                row.querySelector(".total-days").getAttribute("data-start-date")
            );
            const endDate = new Date(
                row.querySelector(".total-days").getAttribute("data-end-date")
            );
            const timeDifference = endDate - startDate;
            const totalDays = 1 + timeDifference / (1000 * 3600 * 24);

            // Asignar el total de días a la celda correspondiente
            row.querySelector(".total-days").innerText = totalDays;
        });
    });
</script>
