<div class="container mx-auto p-4">
    <div class="bg-neutral-700/25 shadow rounded-lg overflow-hidden">
        <div class="p-6">
            <h2 class="text-2xl font-bold mb-4">One To One</h2>
            <% if (info != '') { %>
            <div class="bg-green-100 text-green-800 p-4 rounded-lg mb-4">
                <%= info %>
            </div>
            <% } %>

            <div>
                <table
                    class="min-w-full divide-y divide-neutral-200"
                    id="absences-table"
                >
                    <thead class="bg-neutral-800/50">
                        <tr>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"
                            >
                                Colab name
                            </th>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"
                            >
                                Email
                            </th>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"
                            >
                                Role
                            </th>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"
                            >
                                Meeting Date
                            </th>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"
                            >
                                Meeting Time
                            </th>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider"
                            >
                                Expected time
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-neutral-800 divide-y divide-neutral-200">
                        <% for(const s of sessions) { const d = new
                        Date(s.meetingDate); const date =
                        d.toISOString().split("T")[0]; const [hh, mm] =
                        d.toISOString().split("T")[1].split(":"); const time =
                        `${hh}:${mm}`; %>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">
                                <%= s.birthName + " " + s.surname %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">
                                <%= s.mail %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">
                                <%= s.title %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">
                                <%= date %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">
                                <%= time %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">
                                <%= s.expectedTime %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
