<div class="primaryContainer bgContainer1">
    <div>
        <!-- Formulario para agendar la sesi칩n -->
        <div class="sm:col-span-2">
            <div>
                <h2 class="text-2xl font-semibold mb-4 text-white">
                    Schedule a One To One Session
                </h2>
            </div>

            <form action="/oneToOne/schedule" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                <!-- Datos de la reuni칩n -->
                <div class="mb-6">
                    <h3 class="text-xl font-semibold mb-2 text-white">
                        Session information:
                    </h3>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div>
                            <label
                                for="sessionDate"
                                class="block text-neutral-300 mb-1"
                                >* One To One date:</label
                            >
                            <input
                                id="sessionDate"
                                class="w-full p-2 bg-neutral-600/50 border border-neutral-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-white"
                                type="date"
                                name="date"
                                required
                            />
                        </div>
                        <div>
                            <label class="block text-neutral-300 mb-1"
                                >* One To One time:</label
                            >
                            <input
                                class="w-full p-2 bg-neutral-600/50 border border-neutral-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-white"
                                type="time"
                                name="time"
                                required
                            />
                        </div>
                        <div>
                            <label
                                for="durationInput"
                                class="block text-neutral-300 mb-1"
                                >* Estimated duration (minutes):</label
                            >
                            <input
                                placeholder="15"
                                id="durationInput"
                                class="w-full p-2 bg-neutral-600/50 border border-neutral-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-white"
                                type="number"
                                name="expectedTime"
                                required
                                min="1"
                                max="60"
                                value="15"
                            />
                        </div>
                        <div>
                            <label
                                for="meetingLink"
                                class="block text-neutral-300 mb-1"
                                >Meeting Link:</label
                            >
                            <input
                                id="meetLink"
                                pattern="https:\/\/meet\.google\.com\/[a-z]{3}-[a-z]{4}-[a-z]{3}"
                                class="w-full p-2 bg-neutral-600/50 border border-neutral-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 text-white"
                                type="text"
                                name="meetingLink"
                                placeholder="https://meet.google.com/abc-defg-hij"
                            />
                        </div>
                    </div>
                </div>
                <!--Worker section-->
                <div class="mb-6">
                    <h3 class="text-xl font-semibold mb-2 text-white">
                        Worker:
                    </h3>
                    <div class="mb-4">
                        <label class="block text-neutral-300 mb-1"
                            >Select a worker:</label
                        >
                        <select
                            id="worker"
                            name="email"
                            class="input bg-neutral-700/50 border border-neutral-600/50 p-3 rounded-md w-full"
                            required
                        >
                            <option value="" selected disabled>
                                Select a Worker From the list
                            </option>
                            <% workers.forEach((w) => { %>
                            <option
                                value="<%= w.mail %>"
                                data-name="<%= w.birthName %> <%= w.surname %>"
                            >
                                <%= w.birthName %> <%= w.surname %> - <%=
                                w.department %> - <%= w.company %>
                            </option>

                            <% }) %>
                        </select>
                        <input
                            type="hidden"
                            name="name"
                            id="workerName"
                            value=""
                        />
                    </div>
                </div>
                <div class="text-center">
                    <input class="btnPrimary" type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const dateInput = document.getElementById("sessionDate");

        const date = new Date();
        const now = new Date(
            date.getFullYear(),
            date.getMonth(),
            date.getDate()
        );

        const today = now.toISOString().split("T")[0];
        dateInput.min = today;
    });

    const meetLinkInput = document.getElementById("meetLink");

    meetLinkInput.oninvalid = function (event) {
        event.target.setCustomValidity(
            "Por favor, ingresa un enlace v치lido de Google Meet, por ejemplo: https://meet.google.com/wpt-ahuf-tuk"
        );
    };

    meetLinkInput.oninput = function (event) {
        event.target.setCustomValidity("");
    };

    const select = document.getElementById("worker");
    const hidden = document.getElementById("workerName");

    select.addEventListener("change", () => {
        // toma el data-name de la opci칩n seleccionada
        const selected = select.selectedOptions[0];
        hidden.value = selected.dataset.name || "";
    });
</script>
