<script>addBackButton('/oneToOne');</script>
<div class="primaryContainer bgContainer1">

    <div class="titleContainer">
        <h2 class="title text-center flex-1">Schedule future One To One session</h2>
    </div>

    <div>
        <!-- Formulario para agendar la sesión -->
        <div class="sm:col-span-2">

            <form action="/oneToOne/schedule" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                <!-- Datos de la reunión -->
                <div>
                    <div class="grid grid-cols-1 sm:grid-cols-2">
                        <div>
                            <label
                                for="sessionDate"
                                class="label"
                                >One To One date:</label
                            >
                            <input
                                id="sessionDate"
                                class="input !w-[98%]"
                                type="date"
                                name="date"
                                required
                            />
                        </div>
                        <div>
                            <label class="label"
                                >One To One time:</label
                            >
                            <input
                                class="input !w-[98%]"
                                type="time"
                                name="time"
                                required
                            />
                        </div>
                        <div>
                            <label
                                for="durationInput"
                                class="label"
                                >Estimated duration (minutes):</label
                            >
                            <input
                                placeholder="15"
                                id="durationInput"
                                class="input !w-[98%]"
                                type="number"
                                name="expectedTime"
                                required
                                min="1"
                                max="60"
                                value="15"
                            />
                        </div>
                        <div>
                            <label
                                for="meetingLink"
                                class="label"
                                >Meeting Link:</label
                            >
                            <input
                                id="meetLink"
                                pattern="https:\/\/meet\.google\.com\/[a-z]{3}-[a-z]{4}-[a-z]{3}"
                                class="input !w-[98%]"
                                type="text"
                                name="meetingLink"
                                placeholder="https://meet.google.com/abc-defg-hij"
                            />
                        </div>
                    </div>
                </div>
                <!--Worker section-->
                <div>
                    <div>
                        <label class="label"
                            >Select who will the session be with:</label
                        >
                        <select
                            id="worker"
                            name="email"
                            class="input"
                            required
                        >
                            <option value="" selected disabled>
                                Select a Worker From the list
                            </option>
                            <% workers.forEach((w) => { %>
                            <option
                                value="<%= w.mail %>"
                                data-name="<%= w.birthName %> <%= w.surname %>"
                            >
                                <%= w.birthName %> <%= w.surname %> - <%=
                                w.department %> - <%= w.company %>
                            </option>

                            <% }) %>
                        </select>
                        <input
                            type="hidden"
                            name="name"
                            id="workerName"
                            value=""
                        />
                    </div>
                </div>
                <div class="endButtonsContainer">
                    <button class="btnPrimary">Schedule session</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const dateInput = document.getElementById("sessionDate");

        const date = new Date();
        const now = new Date(
            date.getFullYear(),
            date.getMonth(),
            date.getDate()
        );

        const today = now.toISOString().split("T")[0];
        dateInput.min = today;
    });

    const meetLinkInput = document.getElementById("meetLink");

    meetLinkInput.oninvalid = function (event) {
        event.target.setCustomValidity(
            "Please, add a Google Meet valid link. For example: https://meet.google.com/wpt-ahuf-tuk"
        );
    };

    meetLinkInput.oninput = function (event) {
        event.target.setCustomValidity("");
    };

    const select = document.getElementById("worker");
    const hidden = document.getElementById("workerName");

    select.addEventListener("change", () => {
        // toma el data-name de la opción seleccionada
        const selected = select.selectedOptions[0];
        hidden.value = selected.dataset.name || "";
    });
</script>
