<div class='primaryContainer bgContainer1'>
    <form id='departmentMethod' method='post' action='/department/add' class='p-6'>

        <input type='hidden' name='_csrf' value='<%= csrfToken %>' />

        <h2 class='text-2xl font-semibold mb-6'>
            Fill the data in order to create a new department
        </h2>

        <div class='mb-4'>
            <label class='block text-lg font-medium mb-2'
                >Department Name:</label
            >
            <input
                type='text'
                class='w-full input'
                placeholder='Human Resources'
                name='department'
                required
            />
        </div>

        <!-- Maneja el añadir empresas en caso de que no esté en la lista -->
        <div class='mb-4'>
            <label class='block text-lg font-medium mb-2'
                >Company of origin:</label
            >
            <select
                class='w-full input'
                id='enterpriseSelect'
                required
            >
                <option value='none' selected disabled>Select here</option>
                <option value='newOne'>New Company</option>
                <% enterprises.forEach((enterprise) => { %>
                    <option value='<%= enterprise.title %>'><%= enterprise.title %></option>
                <% }) %>
            </select>
        </div>

        <div class='mb-4'>
            <input
                type='text'
                class='w-full input hidden'
                placeholder='Write the Company name'
                id='enterpriseInput'
                name='enterprise'
                value='
            />
        </div>

        <!-- Selecciona el líder del departamento -->
        <div class='mb-4'>
            <label class='block text-lg font-medium mb-2'
                >Select the leader:</label
            >
            <select
                id='leaderInput'
                class='w-full input'
                name='leader'
                required
            >
                <option value='none' selected disabled>Select here</option>
                <% leaders.forEach((employee) => { %>
                    <option value='<%= employee.userID %>'><%= `${employee.birthName} ${employee.surname} -> ${employee.department == null ? 'Not assigned' : `${employee.department} : ${employee.enterprise}`}` %></option>
                <% }) %>
            </select>
        </div>

        <!-- Selecciona los colaboradores que serán parte del departamento -->
        <input id='collaboratorQuantity' name='collaboratorQuantity' type='hidden'>
        <input id='collaboratorArray' name='collaboratorArray' type='hidden'>

        <div class='mb-4'>
            <label class='block text-lg font-medium mb-2'
                >Select the collaborators:</label
            >
            <div class='flex flex-column gap-3'>
                <select
                    class='w-full input block'
                    id='collaboratorsSelect'
                >
                    <option value='none' selected disabled>Select here</option>
                    <% collaborators.forEach((employee) => { %>
                        <option value='<%= `${employee.birthName} ${employee.surname}|${employee.userID}` %>'><%= `${employee.birthName} ${employee.surname} -> ${employee.department == null ? 'Not assigned' : `${employee.department} : ${employee.enterprise}`}` %></option>
                    <% }) %>
                </select>
                <button id='collaboratorAdd' class='btnPrimary !block'>+</button>
            </div>
        </div>
        
        <div 
            id='collaboratorsContainer'
            class='hidden'
        >
            <h2 class='font-bold'>Collaborators:</h2>
            <ul id='collaboratorsList' class='list-disc pl-10'></ul>
        </div>

        <div class="flex centerItems gap-1">
            <button id='sendForm' class='btnPrimary' type='submit'>Register Department</button>
        </div>
    </form>
</div>

<script>
    const enterpriseSelect = document.getElementById('enterpriseSelect');
    const enterpriseInput = document.getElementById('enterpriseInput');
    
    // Verifica si se quiere añadir una nueva empresa y añade un input text
    enterpriseSelect.addEventListener('change', () => {
        if(enterpriseSelect.value == 'newOne') {
            // En caso de que sea nueva empresa habilita el input text
            enterpriseInput.value = '';
            enterpriseInput.classList.remove('hidden');
            showStatus('Info', 'Please fill the Company name');
        } else {
            // En caso de que ya exista, deshabilita el input text

            // Le añade el valor actual del select al input
            enterpriseInput.value = enterpriseSelect.value;
            enterpriseInput.classList.add('hidden');
        }
    });

    const collaboratorAdd = document.getElementById('collaboratorAdd');
    const collaboratorsSelect = document.getElementById('collaboratorsSelect');
    const collaboratorsContainer = document.getElementById('collaboratorsContainer');
    const collaboratorsList = document.getElementById('collaboratorsList');
    const formCollaboratorQuantity = document.getElementById('collaboratorQuantity');
    const formCollaboratorArray = document.getElementById('collaboratorArray');
    const collaboratorsArray = [];

    // Añade los colaboradores a la lista de colaboradores
    collaboratorAdd.addEventListener('click', (event) => {
        // Permite que no te redireccione
        event.preventDefault();

        // Obtiene el valor del colaborador
        const collaborator = collaboratorsSelect.value;

        if (collaborator === 'none') {
            // En caso de ser nulo, no ha seleccionado usuario
            showStatus('Alert', 'Please select a user');
            return;
        }

        // Obtiene el ID y nombre del colaborador
        const collaboratorData = collaborator.split('|');
        const collaboratorName = collaboratorData[0];
        const collaboratorID = collaboratorData[1];

        if (collaboratorsArray.includes(collaboratorID)) {
            // Si existe, significa que no debería hacer nada
            showStatus('Warning', 'This user is already on the department');
            return;
        }

        // A partir de éste punto significa que se tiene que añadir el empleado
        if (collaboratorsArray.length == 0) {
            // Si tiene longitud de 0, hacer visible la lista
            collaboratorsContainer.classList.remove('hidden');
        }
        collaboratorsArray.push(collaboratorID);

        // Paso los valores a sus input
        formCollaboratorQuantity.value = collaboratorsArray.length;
        formCollaboratorArray.value = collaboratorsArray.join('|');

        // Muestro el nuevo colaborador en formato de lista
        collaboratorsList.innerHTML += `<li class='m-2 flex flex-column'><span class='height-full'>${collaboratorName}</span><div class='border-b-1 border-neutral-700 flex-1'></div><button class='eraseCollaborator btnPrimary !pt-0 !pb-0 !pl-4 !pr-4' value='${collaboratorID}'>-</button></li>`; 

        // Le añade a los botones de eliminar un eventListener
        const eraseButtons = document.querySelectorAll('.eraseCollaborator');
        eraseButtons.forEach((eraseButton) => {
            eraseButton.addEventListener('click', (event) => {
                // Evito el redireccionamiento
                event.preventDefault();

                // Elimino el usuario del arreglo
                collaboratorsArray.splice((collaboratorsArray.indexOf(event.target.value)), 1);

                // Cambio los elementos del form
                formCollaboratorQuantity.value = collaboratorsArray.length;
                formCollaboratorArray.value = collaboratorsArray.join('|');

                // Elimino el colaborador de la lista
                event.target.parentElement.remove();
            });
        });
    });

    // Hace las verificaciones de los datos antes de enviarlos
    const leaderInput = document.getElementById('leaderInput');
    const submitButton = document.getElementById('sendForm');
    submitButton.addEventListener('click', (event) => {
        // En caso de que no haya seleccionado la empresa
        if (enterpriseInput.value === '' ) {
            showStatus('Alert', 'You need to select a Company');
            event.preventDefault();
            return;
        }

        // En caso de que no haya seleccionado un líder
        if (leaderInput.value === 'none' ) {
            showStatus('Alert', 'You need to select a department leader');
            event.preventDefault();
            return;
        }

    });
</script>