<script>addBackButton('/vacation');</script>
<div class="primaryContainer bgContainer1">
    <div class="titleContainer">
        <h2 class="title text-center flex-1">Request Vacation</h2>
    </div>

    <p class="text-center">You have <%= availableDays %> available days for vacations</p>

    <% if (availableDays <= 0) { %>
        <p>You cannot request more vacations in this period.</p>

    <% } else { %>

    <!-- Formulario -->
    <form action="/vacation/add" method="POST" class="p-6 space-y-6">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div class="m-0 p-0">
            <!-- Fechas -->
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div>
                    <label
                        class="label"
                    >
                        Start date:
                    </label>
                    <input
                        id="startDateInput"
                        type="date"
                        name="startDate"
                        class="input !w-[98%]"
                        min="<%= startDate %>"
                        max="<%= endDate %>"
                        required
                    />
                </div>

                <div>
                    <label
                        class="label"
                    >
                        End date:
                    </label>
                    <input
                        id="endDateInput"
                        type="date"
                        name="endDate"
                        class="input !w-[98%]"
                        min="<%= startDate %>"
                        max="<%= endDate %>"
                        required
                    />
                </div>
            </div>

            <!-- Descripción -->
            <div>
                <label class="label">
                    Reason to request vacations:
                </label>
                <textarea
                    name="reason"
                    rows="4"
                    class="input"
                    placeholder="Enter the reason you´d like to the a vacation..."
                    required
                ></textarea>
            </div>

            <!-- Botones -->
            <div class="endButtonsContainer">
                <button
                    type="submit"
                    class="btnPrimary"
                >
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

<% } %>