<script>addBackButton(document.referrer);</script>
<div class="primaryContainer bgContainer1">
    <div class="titleContainer">
        <h2 class="title text-center flex-1">Update vacation request</h2>
    </div>

    <p class="text-center mb-4">
        You have <%= availableDays %> available days for vacations
    </p>

    <% if (availableDays <= 0) { %>
    <p class="text-center">You cannot request more vacations in this period.</p>
    <% } else { %>
    <form action="/vacation/update/<%= vacation.vacationID %>" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div>
            <label
                for="reason"
                class="label"
            >
                Reason:
            </label>
            <input
                type="text"
                id="reason"
                name="reason"
                class="input"
                value="<%= vacation.reason %>"
                required
            />
        </div>

        <div>
            <label
                for="startDate"
                class="label"
            >
                Start Date:
            </label>
            <input
                type="date"
                id="startDate"
                name="startDate"
                class="input"
                value="<%= vacation.startDate ? new Date(vacation.startDate).toISOString().split('T')[0] : '' %>"
                required
            />
        </div>

        <div>
            <label
                for="endDate"
                class="label"
            >
                End Date:
            </label>
            <input
                type="date"
                id="endDate"
                name="endDate"
                class="input"
                value="<%= vacation.endDate ? new Date(vacation.endDate).toISOString().split('T')[0] : '' %>"
                required
            />
        </div>

        <div class="endButtonsContainer">
            <button type="submit" class="btnPrimary">Update vacation</button>
        </div>
    </form>
    <% } %>
</div>
