<div class="primaryContainer bgContainer1">
    <div class="titleContainer">
        <h2 class="title text-center flex-1">Update vacation request</h2>
    </div>

    <p class="text-center mb-4">
        You have <%= availableDays %> available days for vacations
    </p>

    <% if (availableDays <= 0) { %>
    <p class="text-center">You cannot request more vacations in this period.</p>
    <% } else { %>
    <form action="/vacation/update/<%= vacation.vacationID %>" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="mb-4">
            <label
                for="reason"
                class="block text-sm font-medium text-neutral-100 mb-2"
            >
                Reason
            </label>
            <input
                type="text"
                id="reason"
                name="reason"
                class="w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-md"
                value="<%= vacation.reason %>"
                required
            />
        </div>

        <div class="mb-4">
            <label
                for="startDate"
                class="block text-sm font-medium text-neutral-100 mb-2"
            >
                Start Date
            </label>
            <input
                type="date"
                id="startDate"
                name="startDate"
                class="w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-md"
                value="<%= vacation.startDate ? new Date(vacation.startDate).toISOString().split('T')[0] : '' %>"
                required
            />
        </div>

        <div class="mb-4">
            <label
                for="endDate"
                class="block text-sm font-medium text-neutral-100 mb-2"
            >
                End Date
            </label>
            <input
                type="date"
                id="endDate"
                name="endDate"
                class="w-full p-2 bg-neutral-700/50 border border-neutral-600/50 rounded-md"
                value="<%= vacation.endDate ? new Date(vacation.endDate).toISOString().split('T')[0] : '' %>"
                required
            />
        </div>

        <div class="flex justify-center mt-6">
            <button type="submit" class="btnPrimary">Update</button>
        </div>
    </form>
    <% } %>
</div>
